@font-face {
  font-family: "iconfont"; /* Project id 2778589 */
  src: url('iconfont.woff2?t=1630359610559') format('woff2'),
       url('iconfont.woff?t=1630359610559') format('woff'),
       url('iconfont.ttf?t=1630359610559') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baobiao:before {
  content: "\e604";
}

.icon-showpassword:before {
  content: "\ea3f";
}

.icon-users:before {
  content: "\e8b5";
}

.icon-user:before {
  content: "\e61c";
}

.icon-danju:before {
  content: "\e89b";
}

.icon-morentouxiang:before {
  content: "\e8c9";
}

.icon-tijikongjian:before {
  content: "\e7dc";
}

.icon-mima:before {
  content: "\e619";
}

.icon-shangpin:before {
  content: "\e616";
}

